<link rel="stylesheet" href="/css/partials/menu.css">
<nav>
  <ul>
    <li><a href="/home/dashboard">Home</a></li>
    <li>
      <a href="#">Investimentos</a>
      <ul>
        <li><a href="/home/stocks">Cadastro de ativos</a></li>
        <li><a href="/home/dividends">Registo de dividendos</a></li>
        <li><a href="/home/dividends_history">Historico de dividendos</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Empresa</a>
      <ul>
        <li><a href="/home/payments">Cadastro de contas</a></li>
        <li><a href="/home/debts">Registro de pagamentos</a></li>
        <li><a href="/home/debts_history">Historico de pagamentos</a></li>
      </ul>
    </li>
    <li><a href="/home/logout">Logout</a></li>
  </ul>
</nav>