<style>
    .success{
        background-color: rgba(54, 141, 90, 0.664);
        color: white;
        text-align: center;
        height: 1.2em;
        font-size: 1.2em;
        padding-top: 2px;
    }
</style>

{{#each success}}
<div class="success">
    <h2>{{message}}</h2>
</div>
{{/each}}