<link rel="stylesheet" href="/css/home/active.css">
<body style="background-image: url('/img/home.jpg'); backgroud-repeat: no-repeat;">
    <form action="" method="post" class="registration">
        <section class="information">
            <div class="container">
                <div>
                    <input type="password" name="temppass" id="password" placeholder="Current password">
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="New password">
                </div>
                <div>
                    <input type="password" name="password2" id="pasword" placeholder="Repeat new password">
                </div>
                <div>
                    <input type="submit" name="" id="register" value="Confirm">
                </div>
            </div>
        </section>
    </form>
</body>