<link rel="stylesheet" href="/css/home/register.css">
<body style="background-image: url('/img/home.jpg');">
</body>
<form action="" method="post" class="container">

    <div class="registration">
        <section class="information">
            <div class="data">
                <label for="name">Full Name</label>
                <input type="text" name="name" id="name">
            </div>       
            
            <div class="data">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email">
            </div>

            <div class="data">
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </div>

            <div class="data">
                <input type="checkbox" name="agree" id="agree" required style="width: 5%; height: 5%;">
                <label for="agree" id="teste" data-color={"#ff0000"}>I agree to receive future notifications by email</label>
            </div>

            <div class="data">
                <input type="submit" name="register" id="register" value="Register">
            </div>

            <div class="icon">
                <img src="/img/investimento.png" alt="">
            </div>
</form>
