.form-login{
    float: left;
    width: 30%; height: 100vh;
    background-color: #f0f0f0;
    text-align: center;
    position: relative;
}

.inputs{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.inputs input{
    margin-bottom: 5%;
    width: 70%;
    height: 2.3em;
    border-radius: 5px;
    border-style: solid;
    font-size: 0.9em;
    border-color: #c4c4c4;
}

.inputs .login{
    width: 50%;
    height: 3em;
    border-style: none;
    cursor: pointer;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(15, 119, 189), rgb(25, 127, 196), rgb(47, 136, 196));
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.inputs .login:hover{
    background: linear-gradient(to right, rgb(15, 140, 189), rgb(28, 140, 214), rgb(50, 144, 207));
}

.create-acc{
    font-size: 0.8em;
    text-decoration: none;
    color: rgb(7, 94, 209);
    font-weight: 600;
}

.create-acc:hover{
    text-decoration: underline;
    color: rgb(54, 110, 194);;
}

@media screen and (min-width: 1300px) {
    .form-login{
        width: 20%;
    }

    .inputs input{
        width: 60%;
    }
    
    .inputs .login{
        width: 50%;
    }
}